{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Traders Blog</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/blog_style.css' %}"/>
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
        <script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
        <script src="{% static 'js/django-ajax.js' %}"></script>
    </head>

    <body>

    <!-- Header -->
    <div id="hdr">
        <!-- Log in -->
        {% if user.is_authenticated %}
        <div id="signed_in">
        {% csrf_token %}
        <img id="usr_img" src="{{ MEDIA_URL }}{{ request.user.avatar.url }}">
        <a id="logged_in" href="{% url 'django.contrib.auth.views.logout' %}"><button>Выход</button></a>
        <a id="user_link" href="{% url 'user_detail' pk=request.user.pk %}">{{request.user.username}}</a>
        <p id="user_rating">Рейтинг: {{request.user.rating}} </p>
        </div>
        {% else %}
        <a class="regisration" href="{% url 'blog.views.register_user' %}">
            Регистрация
        </a>
        <form id="sign_in" action="{% url 'django.contrib.auth.views.login' %}" method="post">
            {% csrf_token %}
            <input class="log-pas" type="text" name="username" value="Логин" onfocus="if (this.value == 'Логин') {this.value=''}" onBlur="if (this.value == '') {this.value='Логин'}"/>
            <input class="log-pas" autocomplete="off"   type="password" name="password" value="Пароль" onfocus="if (this.value == 'Пароль') {this.value=''}" onBlur="if (this.value == '') {this.value='Пароль'}"/>
            <input class="log-in_button" type="submit"  value="Войти"/>
            
        </form>
        {% endif %}
        <!-- Search form -->
        <form id="search_form" action="{% url 'search' %}" method="get">
            <input class="search_field" type="text" name="q" value="Поиск..." onfocus="if (this.value == 'Поиск...') {this.value=''}" onBlur="if (this.value == '') {this.value='Поиск...'}"/>
            <input class="search_button" type="submit"  value="Искать!" id="searchsubmit" />
        </form>
        
        <!-- Logo -->
        <div id="logo">
            <a href="{% url 'post_list' %}"></a>
        </div>
    </div>

    <!-- Main Container -->
    <div id="cnt">
        
        <!-- Left Column -->
        <div id="lcnt">
        <h3></h3>
        </div>

        <!-- Main - Center Column -->
        <div id="ccnt">
            <div class="post">
				{% if form.errors %}
			    	<p class="error">Неправильные логин или пароль</p>
			  	{% endif %}

				<form action='.' method='post'>{% csrf_token %}
					<label for="username" class="inp_login">Логин:</label>
					<input type="text" name="username" value="" id="username" >
					<label for="password" class="inp_login">Пароль:</label>
					<input type="password" name="password" value="" id="password">

					<input type="submit" value="Войти" class="inp_login-btn"/>
					<input type="hidden" name="next" value="{{ next|escape }}" />
				</form>
			</div>
            <!-- Center Column bottom Borders -->
            <div id="dummy"></div>
        </div>
        <!-- Right Column -->
        <div id="rcnt">
        </div>
        <br style="clear:both;"/>
    </div>

    <!-- Footer -->
    <div id="foo">
        <div id="foot_menu">
            <span class="f_left">&copy; 2016 Polonskaya Diana.</span>
            <span class="f_rght">All rights reserved.</span>
        </div>
    </div>
    </body>
</html>