{% extends 'blog/base.html' %}

    {% block content %}
    	<div class="registration">
	        <h1>Регистрация</h1>
	        <form method="POST" class="post-form">{% csrf_token %}
	            {{ form.media }}
	            {% if form.non_field_errors %}
	            	<p class="error_field">
			        	{% for error in form.non_field_errors %}
			            	{{ error }}
			        	{% endfor %}
	            	</p>
	            {% endif %}
	            <div class="post_reg_field"><label>Логин: </label>{{ form.username }}
	            {% if form.username.errors %}
		          <p class="error_field">
		          {% for error in form.username.errors %}
		            {{ error }}
		          {% endfor %}
		          </p>
		        {% endif %}
		        </div>
	            <div class="post_reg_field"><label>Почта: </label>{{ form.email }}
	            {% if form.email.errors %}
		          <p class="error_field">
		          {% for error in form.email.errors %}
		            {{ error }}
		          {% endfor %}
		          </p>
		        {% endif %}
		        </div>
	            <div class="post_reg_field"><label>Пароль: </label>{{ form.password1 }}
	            {% if form.password1.errors %}
		          <p class="error_field">
		          {% for error in form.password1.errors %}
		            {{ error }}
		          {% endfor %}
		          </p>
		        {% endif %}
		        </div>
	            <div class="post_reg_field"><label>Подтверждение пароля: </label>{{ form.password2 }}
	            {% if form.password2.errors %}
		          <p class="error_field">
		          {% for error in form.password2.errors %}
		            {{ error }}
		          {% endfor %}
		          </p>
		        {% endif %}
		        </div>
	            <div class="post_reg_field"><label>Дата рождения: </label>{{ form.date_of_birth}}
	            {% if form.date_of_birth.errors %}
		          <p class="error_field">
		          {% for error in form.date_of_birth.errors %}
		            {{ error }}
		          {% endfor %}
		          </p>
		        {% endif %}
		        </div>
	            <div class="post_reg_field"><label>Личное: </label>{{ form.private }}
	            {% if form.private.errors %}
		          <p class="error_field">
		          {% for error in form.private.errors %}
		            {{ error }}
		          {% endfor %}
		          </p>
		        {% endif %}
		        </div>
	            <div class="post_reg_field"><label>Контакты: </label>{{ form.contacts }}
	            {% if form.contacts.errors %}
		          <p class="error_field">
		          {% for error in form.contacts.errors %}
		            {{ error }}
		          {% endfor %}
		          </p>
		        {% endif %}
		        </div>
	            <div class="post_reg_field"><label>Местоположение: </label>{{ form.location }}
	            {% if form.location.errors %}
		          <p class="error_field">
		          {% for error in form.location.errors %}
		            {{ error }}
		          {% endfor %}
		          </p>
		        {% endif %}
		        </div>
	            <div class="post_reg_field"><label>Трейдер: </label>{{ form.trader }}
	            {% if form.trader.errors %}
		          <p class="error_field">
		          {% for error in form.trader.errors %}
		            {{ error }}
		          {% endfor %}
		          </p>
		        {% endif %}
		        </div>
	            <div class="post_reg_field"><label>Компания: </label>{{ form.company }}
	            {% if form.company.errors %}
		          <p class="error_field">
		          {% for error in form.company.errors %}
		            {{ error }}
		          {% endfor %}
		          </p>
		        {% endif %}
		        </div>
	            <div class="post_reg_field"><label>Банк: </label>{{ form.bank }}
	            {% if form.bank.errors %}
		          <p class="error_field">
		          {% for error in form.bank.errors %}
		            {{ error }}
		          {% endfor %}
		          </p>
		        {% endif %}
		        </div>
	            <div class="post_reg_field"><label>Брокер: </label>{{ form.broker }}
	            {% if form.broker.errors %}
		          <p class="error_field">
		          {% for error in form.broker.errors %}
		            {{ error }}
		          {% endfor %}
		          </p>
		        {% endif %}
		        </div>
	            <div><label>Капча: </label>{{ form.captcha }}
	            {% if form.captcha.errors %}
		          <p class="error_field">
		          {% for error in  form.captcha.errors %}
		            {{ error }}
		          {% endfor %}
		          </p>
		        {% endif %}
		        </div>
	            <button type="submit" class="inp_reg-btn">Сохранить</button>
	        </form>
        </div>
    {% endblock %}