{% extends 'blog/base.html' %}

    {% block content %}
    	<div class="post_edit">
	        <h1>Регистрация прошла успешно!</h1>
	        <h1>Теперь войдите под своим логином и паролем</h1>
        </div>
    {% endblock %}