{% extends 'blog/base.html' %}

    {% block content %}
    	<div class="post_edit">
	        <h1>Изменение профиля</h1>
	        <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
	            {{ form.media }}
	            <div class="post_reg_field"><label>Фотография профиля: </label>{{ form.avatar }} </div>
	            <div class="post_reg_field"><label>Логин: </label>{{ form.username }}</div>
	            <div class="post_reg_field"><label>Почта: </label>{{ form.email }} </div>
	            <button type="submit" class="save btn btn-default">Save</button>
	        </form>
        </div>
    {% endblock %}