{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Traders Blog</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/blog_style.css' %}"/>
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
        <script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
        <script src="{% static 'js/django-ajax.js' %}"></script>
    </head>

    <body>

    <!-- Header -->
    <div id="hdr">
        <!-- Log in -->
        {% if user.is_authenticated %}
        <div id="signed_in">
        {% csrf_token %}
        <img id="usr_img" src="{{ MEDIA_URL }}{{ request.user.avatar.url }}">
        <a id="logged_in" href="{% url 'django.contrib.auth.views.logout' %}"><button>Выход</button></a>
        <a id="user_link" href="{% url 'user_detail' pk=request.user.pk %}">{{request.user.username}}</a>
        <p id="user_rating">Рейтинг: {{request.user.rating}} </p>
        </div>
        {% else %}
        <a class="regisration" href="{% url 'blog.views.register_user' %}">
            Регистрация
        </a>
        <form id="sign_in" action="{% url 'django.contrib.auth.views.login' %}" method="post">
            {% csrf_token %}
            <input class="log-pas" type="text" name="username" value="Логин" onfocus="if (this.value == 'Логин') {this.value=''}" onBlur="if (this.value == '') {this.value='Логин'}"/>
            <input class="log-pas" autocomplete="off"   type="password" name="password" value="Пароль" onfocus="if (this.value == 'Пароль') {this.value=''}" onBlur="if (this.value == '') {this.value='Пароль'}"/>
            <input class="log-in_button" type="submit"  value="Войти"/>  
        </form>
        {% endif %}
        <!-- Search form -->
        <form id="search_form" action="{% url 'search' %}" method="get">
            <input class="search_field" type="text" name="q" value="Поиск..." onfocus="if (this.value == 'Поиск...') {this.value=''}" onBlur="if (this.value == '') {this.value='Поиск...'}"/>
            <input class="search_button" type="submit"  value="Искать!" id="searchsubmit" />
        </form>
        
        <!-- Logo -->
        <div id="logo">
            <a href="{% url 'post_list' %}"></a>
        </div>

        <!-- Main Menu -->
        <table class="menu">
            {% if user.is_authenticated %}
            <tr>
                <td><a class="menu_freeb" href="{% url 'blog.views.post_new' %}">Написать</a></td>
                <td><a class="menu_grap" href="{% url 'myposts'%}">Мои записи</a></td>
                <td><a class="menu_frm" href="{% url 'mycomments'%}">Комментарии</a></td>
                <td><a class="menu_fnt" href="{% url 'favorite_posts'%}">Избранное</a></td>
            </tr>
            {% endif %}
        </table>
    </div>

    <!-- Main Container -->
    <div id="cnt">
        
        <!-- Left Column -->
        <div id="lcnt">
            <!-- Left Column Section Links -->
                <h3 class="sidetit_l">Меню</h3>
                <a class="pop_menu" href="{% url 'traders'%}">Трейдеры</a>
                <a class="pop_menu" href="{% url 'companies'%}">Компании</a>
                <a class="pop_menu" href="{% url 'banks'%}">Банки</a>
                <a class="pop_menu" href="{% url 'brokers'%}">Брокеры</a>
        </div>

        <!-- Main - Center Column -->
        <div id="ccnt">
            {% block content %}
            {% endblock %}
            <!-- Center Column bottom Borders -->
            <div id="dummy"></div>
        </div>
        <!-- Right Column -->
        <div id="rcnt">
            <!-- Новости -->
            <h3 class="sidetit_l">Новости</h3>
            {% for new in news %}
            <a class="pop_news" href="{% url 'post_detail' pk=new.pk %}">{{ new }}</a>
            {% endfor %}

            <!-- Популярные посты -->
            <h3 class="sidetit_l">Популярные посты</h3>
            {% for top in tops %}
            <a class="pop_post" href="{% url 'post_detail' pk=top.pk %}">{{ top }}</a>
            {% endfor %}
        </div>
        <br style="clear:both;"/>
    </div>

    <!-- Footer -->
    <div id="foo">
        <div id="foot_menu">
            <span class="f_left">&copy; 2016 Polonskaya Diana.</span>
            <span class="f_rght">All rights reserved.</span>
        </div>
    </div>
    </body>
</html>