{% extends 'blog/base.html' %}

    {% block content %}
    	<div class="post_edit">
	        <h1>Новый пост</h1>
	        <form method="POST" class="post-form">{% csrf_token %}
	            {{ form.media }}
	            <div class="post_edit_title"><label>Название: </label>{{ form.title }}</div>
	            <div class="post_edit_text">{{ form.text }}</div>
	            <div class="post_edit_title"><label>Ключевые слова: </label>{{ form.tags }}</div>
	            <button type="submit" class="subm_edit">Save</button>
	        </form>
        </div>
    {% endblock %}