{% extends 'blog/base.html' %}  
    {% load staticfiles%}
    {% load i18n %}
    <!-- Post -->
    {% block content %}
        {% for post in posts.object_list %}
        <div class="post">
            <!-- Post Title - Permalink -->
            <h2>
                <a class="tit" href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a>
            </h2>       
            <!-- Post Details -->
            <div class="post_tit">
                <span class="cld">{{post.published_date}}</span>
                <a class="pby"  href="{% url 'user_detail' pk=post.author.pk %}">Автор: {{post.author}}</a>
                <a class="comm" href="{% url 'blog.views.post_detail' pk=post.pk %}">комментарии: {{ post.comments.count }} </a>
            </div>
            <!-- Post Content -->   
            <p class="ptxt">
            {% with t=post.text|safe %}
                {{t|truncatewords:50}}
            {% endwith %}
            </p>
            <!-- Key Words -->
            <div class="key-words">
                <span>Ключевые слова:</span>
                {% for tag in post.get_tags %}
                <a href="{% url 'tagged' pk=tag.pk %}" >{{ tag }}</a>
                {% endfor %}
            </div>
            <!-- Read More -->
            <a class="more-link" href="{% url 'post_detail' pk=post.pk %}">Читать далее</a>
            <span class="rates">Рейтинг {{post.rating}}</span>
        </div>
        {% endfor %}
        <!-- Pagination -->
        <div class="pagination">
            {% if posts.has_previous %}
                <a href="?{{ posts.previous_page_number.querystring }}" class="prev">&lsaquo;&lsaquo; {% trans "предыдущая" %}</a>
            {% else %}
                <span class="disabled prev">&lsaquo;&lsaquo; {% trans "предыдущая" %}</span>
            {% endif %}
            {% for page in posts.pages %}
                {% if page %}
                    {% ifequal page posts.number %}
                        <span class="current page">{{ page }}</span>
                    {% else %}
                        <a href="?{{ page.querystring }}" class="page">{{ page }}</a>
                    {% endifequal %}
                {% endif %}
            {% endfor %}
            {% if posts.has_next %}
                <a href="?{{ posts.next_page_number.querystring }}" class="next">{% trans "следующая" %} &rsaquo;&rsaquo;</a>
            {% else %}
                <span class="disabled next">{% trans "следующая" %} &rsaquo;&rsaquo;</span>
            {% endif %}
        </div>
    {% endblock content %}