{% extends 'blog/base.html' %}
	{% load staticfiles%}
	<!-- Post -->
	{% block content %}
		<div class="post">
            <!-- Post Title - Permalink -->
            <h2>
                <a class="tit" href="">{{post.title}}</a>
                {% if request.user == post.author or request.user.is_superuser%}
	                <a class="edit" href="{% url 'post_edit' pk=post.pk %}"><img src="{% static 'images/Edit.ico' %}"></img></a>
	                <a class="delete" href="{% url 'post_delete' pk=post.pk %}" data-confirm="true"><img src="{% static 'images/delete.ico' %}"></img></a>
                {% else %}
                	{% if user.is_authenticated %}
	                	{% if post in request.user.favorites.all %}
	                		<a class="fave" href="{% url 'add_to_fave' pk=post.pk %}"><img src="{% static 'images/rm_fav.ico' %}"></img></a>
	                	{% else %}
	                		<a class="fave" href="{% url 'add_to_fave' pk=post.pk %}"><img src="{% static 'images/add_fav.ico' %}"></img></a>
                		{% endif %}
                	{% endif %}

                {% endif %}
            </h2>       
            <!-- Post Details -->
            <div class="post_tit">
                <span class="cld">{{post.published_date}}</span>
                <a class="pby"  href="{% url 'user_detail' pk=post.author.pk %}">Автор:{{post.author}}</a>

            </div>
            <!-- Post Content -->
            <p class="ptxt">{{post.text|safe}}</p>
            <!-- Key Words -->
            <div class="key-words">
                <span>Ключевые слова:</span>
                {% for tag in post.get_tags %}
                <a href="{% url 'tagged' pk=tag.pk %}" >{{ tag }}</a>
            	{% endfor %}
            </div>
			<!-- Read More -->
			{% if user.is_authenticated and request.user != post.author%}
			<button id="rate-up" data-postid="{{post.pk}}">Оценить ↑</button>
			<button id="rate-down" data-postid="{{post.pk}}">Оценить ↓</button>
			{% endif %}
			<span class="rates">Рейтинг: {{post.rating}}</span>

		</div>
		<p class="alr_voted">Вы уже оценивали этот пост!</p>
		<h3 class="cmnt_hdr">Комментарии</h3>
		<!-- Comments -->
		<div class="comments">
			<!-- Comment -->
			{% for comment in post.comments.all %}
				<div class="comment">
					<div class="comment_header">
						<a href="{% url 'user_detail' pk=comment.author.pk %}">{{comment.author}}</a>
						{% if request.user == comment.author or request.user.is_superuser%}
							<a class="delete_com" href="{% url 'comment_delete' pk=post.pk pkc=comment.pk %}" data-confirm="true"><img src="{% static 'images/delete.ico' %}"></img></a>
						{% endif %}
						<span class="comment_time">{{comment.date}}</span><br/>
					</div>

					<div class="comment_text"><p>{{comment.text}}</p>
					</div>
				</div>
				{% empty %}
    			<p>No comments here yet :(</p>
			{% endfor %}
			
			<!-- Comment Form -->
			{% if user.is_authenticated %}
			<form action={% url 'add_comment_to_post' pk=post.pk %} method="POST" id="cmntfrm">
			{% csrf_token %}
				<fieldset id="cmntfs">
					<legend class="pyct">
						Ваш комментарий
					</legend>
					{{ form.as_p }}
					<p>
						<input type="submit" name="submit" value="Комментировать" tabindex="5" id="submit"/>
					</p>
				</fieldset>
			</form>
			{% endif %}
		</div>
	{% endblock content %}