{% extends 'blog/base.html' %}    
    {% load staticfiles%}
    <!-- User -->
    {% block content %}
        <div class="user">
                <!-- User Details -->
                <a class="nameauth"href="{% url 'user_detail' pk=user.pk %}"><h1>{{user.username}}</h1></a>
                {% if user.is_authenticated and request.user == user%}
                <a class="edit" href="{% url 'update_profile' %}"><img src="{% static 'images/Edit.ico' %}"></img></a>
                {% endif %}
                <div class="user_det">
                    <div class="user_img">
                        <img src="{{ MEDIA_URL }}{{ user.avatar.url }}" />
                        {% if user.is_authenticated and request.user != user%}
                            {% if user in request.user.subscriptions.all %}
                                <a href="{% url 'subscribe' pk=user.pk %}"><button id="subscribe"><img src="{% static "images/sub.ico" %}"/>Отписаться</button></a>
                            {% else %}
                                <a href="{% url 'subscribe' pk=user.pk %}"><button id="subscribe"><img src="{% static "images/sub.ico" %}"/>Подписаться</button></a>
                            {% endif %}
                            <button id="rate-up-user" data-userid="{{user.pk}}">Оценить ↑</button>
                            <button id="rate-down-user" data-userid="{{user.pk}}">Оценить ↓</button>
                        {% endif %}
                    </div>
                    <div class="user_info">
                        <p>Рейтинг:</p><span id="cur"> {{ user.rating }}</span>
                        <p>Контакты:</p><span>{{ user.contacts }}</span>
                        <p>Местоположение:</p><span> {{ user.location }}</span>
                        <p>Возраст:</p><span> {{ user.date_of_birth }}</span>
                        <p>Личное:</p><span> {{ user.private }}</span>
                    </div>
                </div>
                <p class="alr_voted_user">Вы уже оценивали этого пользователя!</p>
                <!-- User Content -->
                <div class="user_cont">
                    <a href="{% url 'user_posts' pk=user.pk %}">Почитать, что пишет {{user.username}} в своем блоге</a>
                    <a href="{% url 'user_comments' pk=user.pk %}">Почитать все комментарии {{user.username}}</a>
                    <a href="{% url 'user_favorites' pk=user.pk %}">Почитать избранные записи {{user.username}}</a>
                    <a href="{% url 'subcriptions_list' pk=user.pk %}">Почитать ленту подписок {{user.username}}</a>
                </div>
                <!-- Activity -->
                <div class="activity">
                    <h2>Активность: </h2>
                    <span>Зарегистрирован: {{user.date_joined}}</span>
                    <span>Последний визит: {{user.last_login}}</span>
                </div>
            </div>
    {% endblock content %}