body {
	background: url(../images/bg_48.jpg);
	margin:0;
	font-family:Verdana,Arial,Helvetica;
	font-size:11px;
}

#hdr {
	margin: 0 auto;
	width:1000px;
	height: 190px;	
	z-index:5;
}
#logo {
	width:427px;
	height:113px;
	margin: 0 auto;
}
#logo a {
	background: url(../images/flat_logo.png) no-repeat;
	padding-top: 30px;
	width:100%;
	height: 240px;
	color: white;
	display:block;
	text-align: center;
	font-size: xx-large;
	text-decoration: none;
}
#search_form {
	float:right;
}
#sign_in {
	float:left;
	margin-top: 11px;
}
#signed_in{
	float:left;
	margin-top: 11px;
	width: 150px;
}
#logged_in{
	display: block;
}
#usr_img{
	height: 60px;
	width: 60px;
	display: block;	
	padding: 5px;
}
#user_link{
	display: block;
	margin-top: -75px;
    margin-left: 70px;
}
#user_rating{
	display: block;
    margin-left: 70px;
}
.log-pas{
	display: block;
	color:#837E7B;
	background:#fff;
	margin: 2px;
}

.search_field{
	margin: 30px 0 0 0;
	width:170px;
	border:0 none;
	color:#837E7B;
	background:#fff;
}
.regisration {
	margin-top: 10px;
	margin-bottom: 5px;
	display: block;
	font-size: 14px;
	color: inherit;
}
.reg_button{
	width:95px;
	height:21px;
	border-radius: 4px;
	cursor:pointer;
	padding:0;
	margin-top: 2px;

}
.search_button, .log-in_button{
	width:60px;
	height:21px;
	border-radius: 4px;
	cursor:pointer;
	padding:0;
	margin-top: 2px;
}
.search_button:hover, .log-in_button:hover, .reg_button:hover{
	border: 2px #9abd42;
}
.menu {
	width:1000px;
	height:10px;
	margin: auto;
}
.menu td{
	width: 70px;
	border-radius: 2px;
	padding: 10px;
	border: 2px ridge #dbd0ca;
	background-color: #FFF;
}
.menu a {
	display:block;
	text-align: center;
	font-size:18px;
	text-decoration:none;
	margin:0 10px;
	color: #454244;
}
.menu a:hover {
	color:#9abd42;
}
#cnt {
	width:1000px;
	margin:0 auto;
	position:relative;
	background: url(../images/content.jpg) repeat-y 0 165px;
}
#lcnt {
	width:180px;
	float:left;
	position:relative;
	z-index:7;
}
#ccnt {
	width:640px;
	min-height:1200px;
	height:auto;
	float:left;
	background: url(../images/ccnt.jpg) no-repeat;
	position:relative;
}
#dummy {
	width:640px;
	height:228px;
	float:left;
	background: url(../images/dummy.jpg) no-repeat;
	position:absolute;
	bottom:0;
}
#rcnt {
	width:180px;
	float:left;
	position:relative;
	z-index:7;
	margin: 0;	
}
/*  -- Left Side Links  -- */

.sidetit_l {
	width:145px;
	color:#9abd42;
	margin:40px 0 20px;
	height:22px;
	width: 175px;
	background-color:#dbd0ca;
	font-size:14px;
	border-radius: 2px;
}

.sidetit_l {
	text-align:left;
	padding:5px 0px 0 5px;
}
.pop_post{
    background:url(../images/post_icon.png) no-repeat;
}
.pop_news{
	background:url(../images/news_icon.png) no-repeat;
}
.pop_menu{
	background:url(../images/menu-icon.png) no-repeat;
}
.pop_post:hover{
    background:url(../images/post_icon_hover.png) no-repeat;
}
.pop_news:hover{
	background:url(../images/news_icon_hover.png) no-repeat;
}
.pop_menu:hover{
	background:url(../images/menu-icon_hover.png) no-repeat;
}
.pop_post, .pop_news{
	display:block;
	min-height:24px;
	background-position: 155px 0;
	color:#000;
	text-decoration:none;
	text-align:right;
	padding: 0 35px 10px 0;
	border-bottom: 2px dotted #EEE;
	margin:0 0 10px 0;
}
.pop_menu{
	font-size: 15px;
	display:block;
	min-height:24px;
	color:#000;
	text-decoration:none;
	background-position: 6px 0;
	text-align:left;
	padding: 0 35px 10px 35px;
	border-bottom: 2px dotted #EEE;
	margin:0 0 10px 0;
}
.pop_post:hover, .pop_news:hover{
	background-position: 155px 0;
	color:#A1A1A1;
}
.pop_menu:hover {
	background-position: 6px 0;
	color:#A1A1A1;
}
.pop_post div, .pop_news div, .pop_menu div {
	text-align:right;
	width:144px;
}
.pop_post span, .pop_news span, .pop_menu span {
	text-align:right;
	margin: 0 35px 0 0;
	display:block;
}

/* - Center Conteiner Style - */
.post, .user, .post_edit {
	width:526px;
	position:relative;
	z-index:117;
	margin: 44px auto 0;
	border-bottom: 2px dotted #EEE;
}
.tit {
	font-size:24px;
	margin:0 0 10px 0;
	width:426px;
	font-weight:normal;
	text-decoration:none;
	color:#000;
}
.tit:hover {
	color: #58595B;
}
.post_tit {
	width:526px;
	height:28px;
	background-color:#dbd0ca;
	overflow:hidden;
}
.post_tit span {
	font-size:9px;
	padding: 0 0 0 24px;
	float:left;
	color:#000;
	margin: 0 10px;
	line-height:28px;
	cursor:default;
}
.post_tit a {
	font-size:9px;
	padding: 0 0 0 24px;
	float:left;
	color:#000;
	margin: 0 10px;
	text-decoration:none;
	line-height:28px;
}
.post_tit a:hover {
	color:#A1A1A1;
	text-decoration:underline;
}
.cld {
	background:url(../images/calendar_icon.png) no-repeat;
	background-position: left;
}
.pby {
	background:url(../images/author_icon.png) no-repeat;
	background-position: left;
}
.pby:hover {
	background:url(../images/author_icon_hover.png) no-repeat;
	background-position: left;
}
.comm {
	background:url(../images/comments_icon.png) no-repeat;
	background-position: left;
}
.comm:hover {
	background:url(../images/comments_icon_hover.png) no-repeat;
	background-position: left;
}
.ptxt {
	color:#000;
}
#rate-up, #rate-up-user{
	background-color:#9abd42;
}
#rate-down, #rate-down-user{
 	background-color:#a6a6a6;
}
#rate-up, #rate-down{
	width:86px;
	height:18px;
	display:inline-block;
	color:#FFF;
	margin:18px 0 18px 0;
	border-radius: 4px;
	padding: 0 0 16px 0;
	float: left;
}

#rate-up-user, #rate-down-user {
	width:86px;
	height:18px;
	display:inline-block;
	color:#FFF;
	margin:18px 0 36px 0;
	border-radius: 4px;
	padding: 0 0 16px 0;
	float: left;
}
#rate-up:hover, #rate-down:hover, #rate-up-user:hover, #rate-down-user:hover {
	color:#000;
}
.rates {
	width:86px;
	height:28px;
	display:block;
	color:#000;
	padding: 10px 0 0 25px;
	margin:18px 0 36px 0;
	float: right;
	text-align: left;
	background:url(../images/rating_icon.png) no-repeat;
}
.rates:hover {
	color:#000;
}
.key-words{
	width:500px;
	height:28px;
}
.key-words span{
	display:inline-block;
	color:#000;
	text-align: left;
	font-style: italic;
	font-weight: bold;
	font-size: 12px;
}
.key-words a{
	display:inline-block;
	color:#000;
	margin: 0 0 0 10px;
	text-align: left;
}
.more-link {
	width:86px;
	height:18px;
	display:inline-block;
	text-decoration:none;
	background-color:#9abd42;
	color:#FFF;
	padding:3px 0 0 8px;
	margin:18px 0 18px 0;
	border-radius: 4px;
}
.more-link:hover {
	color:#000;
}
.pagination {
	position:relative;
	z-index:7;
	text-align:center;
	font-size:11px;
	padding-top: 30px;
	height:100px;
	width: 526px;
	line-height:40px;
	margin: 0 auto;
}
.prev {
	background-color: #9abd42;
	border-radius: 2px;
	color: #fff;
	padding:2px 3px;
	text-decoration: none;
}
.prev:hover {
	color: #000;
}
.current.page {
	background-color: #FFF;
	border:1px solid #9abd42;
	color: #9abd42;
	padding:2px 5px;
}
.page {
	background-color:#dbd0ca;
	color:#000;
	padding:2px 5px;
	border:1px solid #dbd0ca;
	text-decoration:none;
}
.page:hover {
	background-color: #9abd42;
	border-color: #9abd42;
}
.next {
	background-color: #9abd42;
	border:1px solid #9abd42;
	border-radius: 2px;
	color:#FFF;
	padding:2px 3px;
	text-decoration:none;
}
.next:hover {
	color:#000;
}
/* -- Footer Style  -- */
#foo {
	width:100%;
	height:63px;
	background: url(../images/fbg.jpg) repeat-x;
}
#foot_menu {
	width:1000px;
	height:63px;
	margin:0 auto;
	position:relative;
	background: url(../images/footer.jpg) no-repeat;

}
.f_left {
	position:absolute;
	padding:30px 0 0;
	font-size:9px;
	color:#808285;
}
.f_rght {
	position:absolute;
	right: 0;
	padding:30px 135px 20px 0;
	font-size:9px;
	color:#808285;
	text-decoration:none;
}
.f_rght:hover {
	color:#000;
}
/*Post*/
.comments {
	width:526px;
	padding:20px 56px;
	z-index:7;
	position:relative;
}
.cmnt_hdr {
	margin:65px 0 0 56px;
	font-weight: normal;
	font-size:20px;
}
.comment {
	width:526px;
	margin:20px 0;
}
.comment_header {
	background-color: #dbd0ca;
	width:100%;
	height:42px;
	margin: 0;
	padding: 3px 0 0;
	font-size:12px;
}
.comment_header a {
	font-weight:bold;
	display: inline-block;
	color: #000;
}
.comment_header a:first-child {
	margin:1px 26px 5px 26px;
}
.comment_header a:nth-child(2){
	margin-right: 5px;
	margin-top: 2px;
}
.comment_header span {
	display: block;
	color:#838280;
}
.comment_time {
	font-size:10px;
	margin:0 0 0 26px;
}
.avatarcnt {
	margin:-57px 0 0 424px;
	width:70px;
	height:70px;
	padding:8px;
	position:absolute;
	border: 1px solid #EEEEEE;
	background-color: #FFFFFF;
}
.comment_text {
	min-height:42px;
	padding: 10px 0 0 26px;
	margin:0;
	color:#000;
	width:395px;
	overflow-x:hidden;
}
#cmntfrm {
	margin: 20px 0 0;
}
#cmntfrm fieldset {
	border: 1px solid #EEE;
	padding:25px;
}
#cmntfrm span {
	color:#FAA61A;
}
#cmntfrm input {
	border:0 none;
	background-color:#F3F4F4;
	height:21px;
	width:203px;
	margin: 0 10px 0 0;
	padding:5px 0 0 5px;
}
#cmntfrm textarea {
	border:0 none;
	background-color:#F3F4F4;
	padding:5px 0 0 3px;
}
#cmntfrm #submit {
	float:right;
	width:130px;
	height:27px;
	background-color:#A9A9A9;
	color:#FFFFFF;
	font-weight:bold;
	cursor:pointer;
	padding:0;
}	
#cmntfrm #submit:hover {
	color:#000000;
}

.pyct {
	font-size:14px;
	font-weight:bold;
	background-color:#9abd42;
	color:#FFF;
	padding:7px;
}
.aptxt {
	color:#A1A1A1;
	margin:0 0 70px 0;
}
.post_edit_title{
	width:526px;
	height: 30px;
	position:relative;
	z-index:117;
	margin: 20px auto 0;
	border-bottom: 2px dotted #EEE;
}
.post_edit_text{
	width:526px;
	position:relative;
	z-index:117;
	margin: 25px auto 0;
	border-bottom: 2px dotted #EEE;
}
.post_edit p, .post_edit label{
	font-size: 20px;
}
.edit img, .delete img{
	height: 17px;
	width: 17px;
}
.delete_com img{
	height: 15px;
	width: 15px;
}
.delete_com{
	margin: 0;
	float: right;
}
.fave img{
	height: 20px;
	width: 20px;
}
/*user*/
.user_det{
	width: 100%;
	display: inline-block;
	margin-bottom: 20px;
}
.user_img{
	width: 175px;
	height: 200px;
	display: inline-block;
	float: left;
}
.user_img img{
	display: block;
	width: 185px;
}
.user_img a{
 	display: block;
 	font-size: 16px;
 	color: #454244;
 }
.user_info{
	width: 325px;	
	float: right;
	display: inline-block;
}
.user_info span{
	display: block;
	height: 30px;	
	font-size: 16px;
	padding: 0 20px 0 30px;
	font-style: italic;
	border-bottom: 2px dotted #EEE;
}
.user_info p{
	display: inline-block;
	font-size: 18px;
	color: #9abd42;
	font-weight: bold;
	font-style: normal;
	margin: 0;
}

.user_cont{
	width: 100%;
	margin: 20px 0 20px 0;
	border-bottom: 2px dotted #EEE;
}
.user_cont a{
	display: block;
	margin-bottom: 5px;
	font-size: 20px;
	color: #454244;
	text-decoration: none;
	background-color: #dbd0ca;
	padding-left: 5px; 
}
.user_cont a:hover{
	color: #9abd42;
}
.activity h2{
	color: #9abd42;
}
.activity span{
	display: block;
	font-size: 16px;
	margin: 10px 0 10px 0;
}
#subscribe {
	width:110px;
	height:18px;
	display:inline-block;
	color:#FFF;
	margin:18px 0 0 0;
	border-radius: 4px;
	padding: 0 0 16px 0;
	background-color:#9abd42;
	float: left;
	text-align: center;
}
#subscribe img{
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle
}
#subscribe:hover{
	color:#000;
}
.post_edit input{
	display: block;
}
.post_edit label{
	display: block;
	margin-top: 10px;
	margin-bottom: 2px;
}
.nameauth{
	display: inline-block;
}
.alr_voted{
	float: left;
    margin-left: 6px;
    margin-top: 19px;
    color: red;
    visibility: hidden;
}
.alr_voted_user{
	display: block;
	margin: 0;
    color: red;
    visibility: hidden;
}
.inp_login{
	display: block;
	margin: 2px;
}
.inp_login-btn{
	width:60px;
	height:21px;
	border-radius: 4px;
	cursor:pointer;
	margin-top: 8px;
	display: block;
}
.error{
	display: inline-block;
	color: red;
	font-size: 15px;
	font-weight: bold;
}
#id_tags{
	margin: 8px 0 8px 0;
}
#id_title{
	margin: 10px 0 10px 0;
}
.subm_edit{
	display: block;
	margin-top: 25px;
}
.post_reg_field{
	display: block;
	width:526px;
	height: 50px;
	position:relative;
	z-index:117;
	margin: 20px auto 0;
	border-bottom: 2px dotted #EEE;
}
.inp_reg-btn{
	width:120px;
	height:21px;
	border-radius: 4px;
	cursor:pointer;
	margin-top: 8px;
	display: block;
}
.error_field{
	color: red;
	font-size: 10px;
}
.registration {
	width:526px;
	position:relative;
	z-index:117;
	margin: 44px auto 0;
	border-bottom: 2px dotted #EEE;
}
.registration label{
	font-size: 20px;
}